body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 text-transform: capitalize;
 
}

.navitem{
  position: sticky;
  background-color: black;
  padding: 1rem;
  display: flex;  
  justify-content: space-between;
  text-decoration: none;
  }

.navHeading{
  text-decoration: none;
  color: white ;
  margin: 0.5rem;
  padding-left: 1rem;

}

.Home {
 justify-content: flex-start;
}

#navItem{
  justify-content: flex-end;
}
.inputBar{
  justify-self: center;
  align-self: center;
  border-radius:0 1rem 0 1rem  ;
  padding: 0.3rem;
}

/*  StorePage  */
.storeDisplay{
  display: flex;
}



.filterDisplay{
  position: relative;
  margin: 0.5rem 1rem 0.5rem 1rem  ; 
  padding: 0.5rem;
  width: 15%;
  border-right: 2px solid black;
  
}
/* Product List  */
.itemDisplay{
 
  display: flex;
 list-style: none;
 text-align: center;
 flex-wrap: wrap;
}

.booksDisplay{
 width: 90%;
 
}
.cartButton{
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(43, 42, 42);
  color: white;
}
.cartButton{
  text-decoration: none;
}
.accountDetails{
  display: flex;
  text-align: center;
  justify-content: flex-start;
  padding: 0.3rem;
}

.itemDisplayCard{
  border: 1px solid black;
  width: 28vh;
  height: 50vh;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color:whitesmoke;
  color: black;
 
}

.displayCardTitle , .displayCardAuthor, .displayCardPrice, .displayCardCategory, .displayCardRating,.displayCardActualPrice,.displayCardDiscount {
  margin: 0;
  padding: 0;
}

.displayCardActualPrice,.displayCardDiscount,.displayCardPrice{
  margin-right: 0.5rem;
}

.displayCardAuthor{
  display: flex;
  color:black;
  font-size: 13px;
  align-items: flex-start;
}

.displayCardTitle{
  align-self: center;
}

.titleAndRating{
  display: flex;
  justify-content: space-between;
 }

.displayCardRating{
  justify-self: flex-end;
  background-color: rgb(13, 206, 13);
  border: 1px solid black;
  width: 2.4rem;
  padding: 0.1mm;
  
  height: 22px;
  border-radius: 0.3rem;
  color: white;
}




/* Cart page Layout */

.cartPageLayout{
  display: flex;
 
}

.emptyCartText{
  font-size: 2.5rem;
  text-align: center;
  /* margin-left: 38%; */
}
.cartPageLayoutCardLayout{
  width: 50%;
  
  text-align:center;
  
}

.billLayout{
  border: 1px solid black;
  width: 40vh;
  padding: 1.5rem;
}

.PriceDetails{
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 1rem;
  font-weight: bold;
}

.cartBillitemDisplay{
  list-style: none;
  display: flex-column;
}

.billLayoutCoupon,.billLayoutPrice,.billLayouttotalBill,.billLayoutCoupon,.billLayoutDelivery{
  display: flex;
  justify-content: space-between;
 text-transform: capitalize;
}
.billLayouttotalBill{
  border-top: 1px solid black;
  padding-top: 0.5rem;
  
}