body{
  background-color: #171717;
  /* heading--color: #DA0037; */
  /* background-color: white; */
  color:white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 text-transform: capitalize;
 
}

.navitem{
  position: sticky;
  background-color: black;
  padding: 1rem;
  display: flex;  
  justify-content: space-between;
  text-decoration: none;
  }

.navHeading{
  text-decoration: none;
  color: white ;
  margin: 0.5rem;
  padding-left: 1rem;

}

.Home {
 justify-content: flex-start;
}

#navItem{
  justify-content: flex-end;
}
.inputBar{
  justify-self: center;
  align-self: center;
  border-radius:0 1rem 0 1rem  ;
  padding: 0.3rem;
}

/*  StorePage  */
.storeDisplay{
  display: flex;
}



.filterDisplay{
  position: relative;
  margin: 0.5rem 1rem 0.5rem 1rem  ; 
  padding: 0.5rem;
  width: 15%;
  border-right: 2px solid black;
  
}
/* Product List  */
.itemDisplay{
 
  display: flex;
 list-style: none;
 text-align: center;
 flex-wrap: wrap;
}

.booksDisplay{
 width: 90%;
 
}
.cartButtonDiv{
  justify-content: flex-end;
}
.cartButton{
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(43, 42, 42);
  color: white;
position: relative;
bottom: 1.7rem;
}
.cartButton{
  text-decoration: none;
  background-color: black;
}

.cartButton:hover{
  background-color: rgba(0, 0, 0, 0.342);
}
.accountDetails{
  display: flex;
  text-align: center;
  justify-content: flex-start;
  padding: 0.3rem;
}

.itemDisplayCard{
  border: 1px solid black;
  width: 30vh;
  height: 50vh;
  padding: 1.3rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;;
  color: white;
 
}

.displayCardTitle , .displayCardAuthor, .displayCardPrice, .displayCardCategory, .displayCardRating,.displayCardActualPrice,.displayCardDiscount,.displayCardCrossPrice {
  margin: 0;
  padding: 0;
}


.displayCardActualPrice,.displayCardDiscount,.displayCardCrossPrice,.displayCardPrice{
  margin-right: 0.5rem;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0;
}
.displayCardPrice{
  font-size: 17px;
  position: relative;
  bottom: 2px;

}
.displayCardActualPrice{
  position: relative;
  font-size: 13px;
}
.displayCardCrossPrice{
  transform: rotate(75deg);
  font-size: 2.2rem;
  bottom: 0.9rem;
  right: 1.4rem;
  margin: 0;
  padding: 0;
  position:relative ;
  font-weight: lighter;
}

.displayCardAuthor{
  display: flex;
  color:darkgray;
  font-size: 13px;
  align-items: flex-start;
}

.displayCardTitle{
  align-self: center;
}

.titleAndRating{
  display: flex;
  justify-content: space-between;
 }

.displayCardRating{
  justify-self: flex-end;
  background-color: rgb(13, 206, 13);
  border: 1px solid black;
  width: 2.4rem;
  padding: 0.1mm;
 font-size: 15px;
  height: 20px;
  border-radius: 0.8rem;
  color: white;
}




/* Cart page Layout */

.imageCartDisplay{
padding: 1rem;
}

.CartitemDisplayCard{
width: 60vh;
height: 40vh;
padding: 1.3rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;;
  color: white;
}

.billLayout{
  border: 1px solid black;
  width: 40vh;
  padding: 1.5rem;
}

.PriceDetails{
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 1rem;
  font-weight: bold;
}

.cartBillitemDisplay{
  list-style: none;
  display: flex-column;
}

.billLayoutCoupon,.billLayoutPrice,.billLayouttotalBill,.billLayoutCoupon,.billLayoutDelivery{
  display: flex;
  justify-content: space-between;
 text-transform: capitalize;
}
.billLayouttotalBill{
  border-top: 1px solid black;
  padding-top: 0.5rem;
  
}

/* single page Css */

.singlePageLayout{
  margin: 0;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
  border-radius: 1rem;
  ;
  
  position: absolute;
  top: 50%;
  width: 70vh;
  height: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.singlePageLayoutCard{
  display: flex;
}
.singlePageLayoutImage{
  padding: 1.5rem;
}

