body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navitem{
  position: sticky;
  background-color: black;
  padding: 1rem;
  display: flex;  
  justify-content: space-between;
  text-decoration: none;
  }

.navHeading{
  text-decoration: none;
  color: white ;
  margin: 0.5rem;
  padding-left: 1rem;

}

.Home {
 justify-content: flex-start;
}

#navItem{
  justify-content: flex-end;
}
.inputBar{
  justify-self: center;
  align-self: center;
  border-radius:0 1rem 0 1rem  ;
  padding: 0.3rem;
}

/*  StorePage  */
.storeDisplay{
  display: flex;
}

.filterDisplay{
  position: relative;
  margin: 0.5rem 1rem 0.5rem 1rem  ; 
  padding: 0.5rem;
  width: 15%;
  border-right: 2px solid black;
  
}
/* Product List  */
.itemDisplay{
 
  display: flex;
 list-style: none;
 text-align: center;
 flex-wrap: wrap;
}

.booksDisplay{
 width: 90%;
 
}


.itemDisplayCard{
  border: 1px solid;
  width: 35vh;
  height: 45vh;
  padding: 0.5rem;
  margin: 0.5rem;
}

.displayCardTitle , .displayCardAuthor, .displayCardPrice, .displayCardCategory, .displayCardRating {
  margin: 0;
  padding: 0;
}

.displayCardTitle{
  align-self: center;
}

.titleAndRating{
  display: flex;
  justify-content: space-between;
 }

.displayCardRating{
  justify-self: flex-end;
  background-color: rgb(13, 206, 13);
  border: 1px solid black;
  width: 2.4rem;
  padding: 0.1mm;
  
  height: 22px;
  border-radius: 0.3rem;
  color: white;
}




/* Cart page Layout */

.cartPageLayout{
  display: flex;
 
}

.cartPageLayoutCardLayout{
  width: 50%;
  
  text-align:center;
  
}

.billLayout{
  border: 1px solid black;
  width: 40vh;
  padding: 1.5rem;
}

.billLayoutCoupon,.billLayoutPrice,.billLayouttotalBill,.billLayoutCoupon,.billLayoutDelivery{
  display: flex;
  justify-content: space-between;

}